__pycache__/
*.pyc
*.egg-info/
.git/
.gitignore
data/processed/
data/uploads/
*.json
!document.schema.json
.pytest_cache/
**/.venv/
**/venv/
**/__pycache__/
**/.pytest_cache/
**/qdrant_data/
src/
data/
.env
.env.*
*.zip
*.pdf
